@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
  <h1 class="display-4">Olá, bem-vindo!</h1>
  <p class="lead">Esta é uma aplicação com a finalidade de se estudar arquitetura em camadas.</p>
  <hr class="my-4">
  <p>Um simples CRUD, com .NetCore e EF.</p>
</div>